<a href="https://colab.research.google.com/github/ikatyszko/data-science-bootcamp/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [2]:
A = pd.Series(data=[1,2,3,4],index=['a','b','c','d'],name='proba')

In [3]:
A

a    1
b    2
c    3
d    4
Name: proba, dtype: int64

In [2]:
import numpy as np

In [5]:
np.nan

nan

In [7]:
A = pd.Series(data=[1,np.nan,3,4],index=['a','b','c','d'],name='proba')

In [8]:
A

a    1.0
b    NaN
c    3.0
d    4.0
Name: proba, dtype: float64

In [9]:
s = pd.Series([True,False,True])

In [10]:
s

0     True
1    False
2     True
dtype: bool

In [9]:
s = pd.Series(data=np.arange(10,20),index=pd.date_range(start='20220101',periods=10))

In [15]:
s

2022-01-01    10
2022-01-02    11
2022-01-03    12
2022-01-04    13
2022-01-05    14
2022-01-06    15
2022-01-07    16
2022-01-08    17
2022-01-09    18
2022-01-10    19
Freq: D, dtype: int64

In [11]:
z = pd.Series(['python', 'java', 'sql'])

In [5]:
type(s)

pandas.core.series.Series

In [13]:
s.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [14]:
list(s.index)

[Timestamp('2022-01-01 00:00:00', freq='D'),
 Timestamp('2022-01-02 00:00:00', freq='D'),
 Timestamp('2022-01-03 00:00:00', freq='D'),
 Timestamp('2022-01-04 00:00:00', freq='D'),
 Timestamp('2022-01-05 00:00:00', freq='D'),
 Timestamp('2022-01-06 00:00:00', freq='D'),
 Timestamp('2022-01-07 00:00:00', freq='D'),
 Timestamp('2022-01-08 00:00:00', freq='D'),
 Timestamp('2022-01-09 00:00:00', freq='D'),
 Timestamp('2022-01-10 00:00:00', freq='D')]

In [16]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [18]:
s.dtypes

dtype('int64')

In [27]:
price = pd.Series({'Apple': 200, 'CD Projekt' : 60, 'Amazon' : 1900, 'KGHM': np.nan})

In [28]:
print(price)

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [21]:
price['Apple']

200

In [22]:
price[1]

60

In [23]:
price[[1,2]]

CD Projekt      60
Amazon        1900
dtype: int64

In [24]:
  price.count()

3

In [25]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [26]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [29]:
price.nlargest(3)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
dtype: float64

In [30]:
price.nsmallest(2,)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [31]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [36]:
price_pln = price.apply(lambda x: x * 3.8 )

In [40]:
df = pd.DataFrame([12,11,10], index=['first','second','third'], columns=['col_1'])

In [41]:
df

        col_1
first      12
second     11
third      10

In [42]:
df = pd.DataFrame(data={'Wig20': ['PKN ORLEN', 'PKO BP'],
                        'xWig40': ['Amica','Playway']})

In [43]:
df

       Wig20   xWig40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [44]:
df.columns

Index(['Wig20', 'xWig40'], dtype='object')

In [45]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [46]:
 df.index

RangeIndex(start=0, stop=2, step=1)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Wig20   2 non-null      object
 1   xWig40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [49]:
df.describe().T

       count unique        top freq
Wig20      2      2  PKN ORLEN    1
xWig40     2      2      Amica    1

In [50]:
from pandas._libs import index
dc = pd.DataFrame(data=[[10,12,13],[23,12,10]], columns=['col_1','col_2','col_3'], index= ['first','second'])

In [55]:
type(dc[['col_1']])

pandas.core.frame.DataFrame

In [56]:
dc.col_1

first     10
second    23
Name: col_1, dtype: int64

In [57]:
type(dc.col_1)

pandas.core.series.Series

In [60]:
dc['col_1'].mean()

16.5

In [61]:
dc.columns = ['a','b','c']

In [62]:
dc

         a   b   c
first   10  12  13
second  23  12  10

In [63]:
dc['d'] = dc.b + dc.c

In [64]:
dc

         a   b   c   d
first   10  12  13  25
second  23  12  10  22

In [65]:
dc = pd.DataFrame(data=[[10,12,13],[23,12,10]], columns=['col_1','col_2','col_3'], index= ['first','second'])

In [66]:
dc

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [68]:
dc.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64