<a href="https://colab.research.google.com/github/ikatyszko/data-science-bootcamp/blob/main/zapis_odczyt_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_raw = pd.read_csv('appstore_games.csv')

In [11]:
df = df_raw.copy()
df = df.drop(columns= ['URL', 'Icon URL', 'Subtitle', 'Description', 'In-app Purchases'])

In [12]:
df.set_index('ID', inplace = True)

In [13]:
df.sort_index()

,Name,Average User Rating,User Rating Count,Price,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
ID,,,,,,,,,,,,
284921427,Sudoku,4.0,3553.0,2.99,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,Reversi,3.5,284.0,1.99,Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
284946595,Morocco,3.0,8376.0,0.00,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
285755462,Sudoku (Free),3.5,190394.0,0.00,Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
285831220,Senet Deluxe,3.5,28.0,2.99,RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018
...,...,...,...,...,...,...,...,...,...,...,...,...
1474626442,Stack Puzzle : Rise Tower,NaN,NaN,0.00,Zhigang Pei,4+,EN,64795648.0,Games,"Games, Entertainment, Casual, Strategy",30/07/2019,30/07/2019
1474919257,EachOther,NaN,NaN,0.00,Sultan Shindi,4+,EN,110341120.0,Games,"Games, Family, Strategy",1/08/2019,1/08/2019
1474962324,Rabbit Vs Tortoise,NaN,NaN,0.00,Vishal Baldha,4+,EN,23207936.0,Games,"Games, Strategy",3/08/2019,3/08/2019
1474963671,FaTaLL,NaN,NaN,0.00,Tayrem Games,4+,EN,196750336.0,Games,"Games, Strategy, Action",1/08/2019,1/08/2019
1475076711,The Three Kingdoms :Bomb,NaN,NaN,0.00,ming bo tang,4+,"EN, ZH",22952960.0,Games,"Games, Strategy, Puzzle",2/08/2019,2/08/2019

In [14]:
df.describe()

       Average User Rating  User Rating Count         Price          Size
count          7561.000000       7.561000e+03  16983.000000  1.700600e+04
mean              4.060905       3.306531e+03      0.813419  1.157064e+08
std               0.751428       4.232256e+04      7.835732  2.036477e+08
min               1.000000       5.000000e+00      0.000000  5.132800e+04
25%               3.500000       1.200000e+01      0.000000  2.295014e+07
50%               4.500000       4.600000e+01      0.000000  5.676895e+07
75%               4.500000       3.090000e+02      0.000000  1.330271e+08
max               5.000000       3.032734e+06    179.990000  4.005591e+09

In [15]:
 df.describe(include=['object']).T

,count,unique,top,freq
Name,17007,16847,Additions,2
Developer,17007,8693,Tapps Tecnologia da Informa\xe7\xe3o Ltda.,123
Age Rating,17007,4,4+,11806
Languages,16947,990,EN,12467
Primary Genre,17007,21,Games,16286
Genres,17007,1004,"Games, Strategy, Puzzle",778
Original Release Date,17007,3084,2/09/2016,75
Current Version Release Date,17007,2512,1/08/2019,118

In [16]:
df.columns = df.columns.str.lower()

In [17]:
df.columns = [col.replace(' ', '_') for col in df.columns]